<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo N-migos</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="Catalogo">
<div class="navbar">

    <div class="menu-container">
        <input type="checkbox" id="toggle-menu" class="toggle-menu">
        <label for="toggle-menu" class="menu-icon">☰ Menú</label>

        <nav class="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li th:if="${isLoggedIn}"><a href="/perfil">Mi Perfil</a></li>
                <li th:if="${isLoggedIn}"><a href="biblioteca">Mi Biblioteca</a></li>
                <li><a href="#">Noticias</a></li>
            </ul>
        </nav>
    </div>


    <div class="boton-derecha">
        <div class="usuario-menu">
            <button class="btn-icon" onclick="toggleMenu()">
                <i class="fas fa-user"></i>
            </button>

            <div th:unless="${isLoggedIn}" class="submenu-usuario">
                <ul>
                    <li><a href="login">Iniciar sesión</a></li>
                    <li><a href="register">Registrarse</a></li>
                </ul>
            </div>
            <div th:if="${isLoggedIn}" class="submenu-usuario">
                <ul>
                    <li>
                        <a id="logoutButton" href="javascript:void(0)">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="anuncio">
    <img src="https://media.ouest-france.fr/v1/pictures/MjAyNDEyM2U0MDUyYTgxYjM0Yjk1YWVhYTNjNDU5NjhjN2ZkYTk?width=630&height=354&focuspoint=50%2C25&cropresize=1&client_id=bpeditorial&sign=5583092a8a71cb18d6439f8fc96267d77f9e7db471df777f4e44b57b70e6a3eb" width="700" height="300" alt="Anuncio" rel="noopener noreferrer">
</div>

<div>
    <section class="juegos">

        <!-- Buscador de juegos -->
        <h3 class="busqueda-container">

            <form id="busquedaForm"  onsubmit="return buscarJuego(event)">
                <input type="text" id="busqueda" placeholder="Buscar juego...">
                <button type="submit" class="submit-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <!-- Botón de filtros -->
            <div class="filtros-container">
                <button id="filtro-genero">Filtrar por Género</button>
                <button id="filtro-puntuacion">Filtrar por Puntuación</button>
            </div>

            <!-- Filtros aplicados -->
            <div id="filtros-aplicados" style="margin-top: 10px;">
                <h4>Filtros aplicados:</h4>
                <p id="lista-filtros">Ninguno</p>
                <button id="borrar-filtros" style="display: none;">Borrar filtros</button>
            </div>


        </h3>

        <!-- Ventana emergente para géneros -->
        <div id="popup-generos" class="popup" style="display: none;">
            <div class="popup-content">
                <h3>Selecciona un Género</h3>
                <ul id="lista-generos">
                    <li th:each="genero : ${generos}" th:text="${genero.nombre}"
                        th:data-nombre="${genero.nombre}"
                        onclick="seleccionarGenero(this)"></li>
                </ul>
                <button id="cerrarPopup" class="cerrarPopup">Aplicar</button>
            </div>
        </div>

        <div id="popup-puntuacion" class="popup" style="display: none;">
            <div class="popup-content">
                <h3>Filtrar por Puntuación</h3>
                <div>
                    <button id="filtro-mayor-que" class="boton-filtro-condicional">Mayor que</button>
                    <button id="filtro-menor-que" class="boton-filtro-condicional">Menor que</button>
                </div>
                <div class="estrellas-container">
                    <span class="estrella" data-puntuacion="1">★</span>
                    <span class="estrella" data-puntuacion="2">★</span>
                    <span class="estrella" data-puntuacion="3">★</span>
                    <span class="estrella" data-puntuacion="4">★</span>
                    <span class="estrella" data-puntuacion="5">★</span>
                </div>
                <button id="cerrarPopupPuntuacion" class="cerrarPopup">Aplicar</button>
            </div>
        </div>



        <h2>Juegos Disponibles  </h2>

        <div id="juego-lista" class="juego-lista">
            <!-- Lista generada por Thymeleaf para la carga inicial de juegos -->
            <div class="juego-item" th:each="juego : ${juegos}">
                <img th:src="${juego.imagen}" th:alt="${juego.titulo}" />
                <h3 th:text="${juego.titulo}">Título del Juego</h3>
                <p th:text="'Calificación: ' + ${juego.calificacion}">Calificación</p>
                <a th:href="@{/info(id=${juego.id})}" class="btn-jugar">+info</a>
                <button th:if="${isLoggedIn}" class="btn-biblioteca"
                        th:data-id="${juego.id}"
                        onclick="addToLibrary(this)">
                    Agregar a mi biblioteca
                </button>
            </div>
        </div>

        <!-- paginacion de juegos -->
        <div id="pagination" class="pagination">
            <button th:if="${paginaActual > 1}"
                    th:onclick="'location.href=\'/?pagina=' + (${paginaActual} - 1) + '\''">
                Anterior
            </button>

            <button th:each="i : ${#numbers.sequence(1, totalPaginas)}"
                    th:classappend="${i == paginaActual} ? 'active' : ''"
                    th:onclick="'location.href=\'/?pagina=' + ${i} + '\''"
                    th:text="${i}">
            </button>


            <button th:if="${paginaActual < totalPaginas}"
                    th:onclick="'location.href=\'/?pagina=' + (${paginaActual} + 1) + '\''">
                Siguiente
            </button>
        </div>

    </section>
</div>
<script src="/scripts/index.js"></script>

</body>

</html>
