<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registro</title>
  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Nuestro css-->
  <link rel="stylesheet" type="text/css" href="static/css/register.css" th:href="@{/css/register.css}">
</head>
  <body>
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <a href="/login" id="circularButton" class="circular-button">
          <i class="fas fa-arrow-left"></i> <!-- Ícono de FontAwesome -->
        </a>
        <div class="col-12 register-img">
          <img src="static/img/register.png" th:src="@{/img/register.png}"/>
        </div>
        <!-- Formulario de login -->
        <form id="registerForm">
          <div class="form-group" id="user-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required>
          </div>
          <div class="form-group" id="contrasena-group">
            <input type="text" id="password" name="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <div class="form-group" id="lastname-group">
            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Apellido" required>
          </div>
          <div class="form-group" id="firstname-group">
            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="form-group" id="country-group">
            <input type="text" id="country" name="country" class="form-control" placeholder="Pais" required>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-sign-in-alt"></i> Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
  <script>
  document.getElementById('registerForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const userData = {
          username: document.getElementById('username').value,
          password: document.getElementById('password').value,
          lastname: document.getElementById('lastname').value,
          firstname: document.getElementById('firstname').value,
          country: document.getElementById('country').value
      };

      try {
          const response = await fetch('/register', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(userData)
          });

          if (response.ok) {
              alert('Registro exitoso. Redirigiendo al login...');
              window.location.href = '/login';
          } else {
              const error = await response.json();
              alert('Error en el registro: ' + (error.message || 'Verifica los datos.'));
          }
      } catch (error) {
          console.error('Error en el registro:', error);
          alert('No se pudo completar el registro.');
      }
  });
</script>
</body>
</html>
